@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
*{
  font-family:'Montserrat'!important;
}

.nav-link{
  font-family:'Inter'!important;
  color:#23227C!important;
}

.header{
  background:#DFDEFF!important;
}

.contacto {
    padding-left: 11px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    border-radius: 7px;
    background: #4299FF;
    border: none;
}

/*Seccion 1*/

.fondo1{
    background: linear-gradient(180deg,#dfdeff,rgba(223,222,255,0));
    margin: auto;
    padding: 5%;
    padding-top: 10%;
}

.subtitulo1{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #23227C;
  text-align:left;
}

.titulo1{
  font-style: normal;
  font-weight: 700;
  font-size: 91px;
  line-height: 111px;
  color: #23227C;
  text-align:left;
}

.pc{

  width:70%;
  
}

/*Seccion 1*/
