@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
*{
  font-family:'Montserrat'!important;
}

.nav-link{
  font-family:'Inter'!important;
  color:#23227C!important;
}

.header{
  background:#DFDEFF!important;
}

.contacto{
      vertical-align: text-top!important;
}
