@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
*{
  font-family:'Montserrat'!important;
}

.nav-link{
  font-family:'Inter'!important;
  color:#23227C!important;
}

.header{
  background:#DFDEFF!important;
}

.contacto {
    padding-left: 11px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    border-radius: 7px;
    background: #4299FF;
    border: none;
}

/*Seccion 1*/

.fondo1 {
    background: -webkit-linear-gradient(top,#dfdeff,rgba(223,222,255,0));
    background: -webkit-gradient(linear,left top,left bottom,from(#dfdeff),to(rgba(223,222,255,0)));
    background: linear-gradient(180deg,#dfdeff,rgba(223,222,255,0));
    margin: auto;
    padding: 15% 5% 15%;
}

.subtitulo1{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #23227C;
  text-align:left;
}

.titulo1{
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 111px;
  color: #23227C;
  text-align:left;
}

.poligono{
  background:url('./lambda/Polygon 1.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
}

.pc {
    width: 100%;
}

/*Seccion 1*/

/*Seccion 2*/

.fondo2 {
    background: url('./lambda/rectangulo.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    padding: 7% 4% 9%;
}

.titulo2{
  font-style: normal;
  font-weight: 700;
  font-size: 91px;
  line-height: 111px;
  color: #23227C;
}

.titulo2-sm{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-top: 52px;
  color: #23227C;
}

.texto2{
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 54px;
  /* or 174% */
  color: #000000;
}

/*Seccion 2*/

/* Seccion 3 */
  
    .fondo3{
      background: linear-gradient(180deg, #C8E8FF 0%, rgba(223, 222, 255, 0) 100%, #4299FF 100%);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 0px;
      margin: auto;
      padding: 15% 5% 15%;
    }
  
    .titulo3{
      font-style: normal;
      font-weight: 700;
      font-size: 91px;
      line-height: 111px;
      text-align: center;
      color: #23227C;
      margin-bottom: 81px;
    }
  
    .servicio1 .servicio3{
      background: white;
      border: none;
    }
  
    .servicio2{
      background: white;
      border: none;
    }

    .texto3{
    
    }

    .lista3{
      
    }
  
  /* Seccion3 */

@media(max-width:767px){
  
  /* Seccion 1 */
  
  .titulo1 {
    font-size: 48px;
    line-height: 66px;
  }
  
  .subtitulo1 {
    font-size: 23px;
    line-height: 39px;
  }
  
 .fondo1 {
    background: linear-gradient(180deg,#dfdeff,rgba(223,222,255,0));
    margin: auto;
    padding: 42% 5% 67%;
}
  
  /* Seccion 1*/
  
  /* Seccion 2 */
  
  .fondo2 {
    background: url('./lambda/rectangulo.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    padding: 7% 4% 9%;
}
  
  .titulo2 {
    font-size: 48px;
    line-height: 111px;
    text-align: center;
    color: #030330;
}
  
  .titulo2-sm {
    font-size: 35px;
    line-height: 49px;
    margin-top: 52px;
    text-align: center;
    color: #030330;
}
  
  .texto2 {
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 54px;
    color: #fff;
    text-align: center;
  }
  
  /* Seccion 2 */
  
  /* Seccion 3 */
  
    .fondo3{
      background: linear-gradient(180deg, #C8E8FF 0%, rgba(223, 222, 255, 0) 100%, #4299FF 100%);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 0px;
      margin: auto;
      padding: 15% 5% 15%;
    }
  
    .titulo3{
      
    }
  
    .servicio1 .servicio3{
      
    }
  
    .servicio2{
    
    }
  
  /* Seccion3 */
  
}

